#map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    cursor: default;
}

.panel {
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 350px;
    background-color: rgba(255,255,255,0.9);
    border: 2px solid #c6c6c6;
    border-radius: 5px;
    font-family: "Source Sans Pro";
}

@font-face{
    font-family: "Source Sans Pro";
    src: url(SourceSansPro-Regular.ttf);
}

h2 {
    display: block;
    font-size: 25px;
}

td {
    vertical-align: middle;
}

.trip-planning {
    padding-left: 15px;
    padding-right: 15px;
}

.from-to-icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#loading {
    display: none;
}

.loading-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}
  
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 100;
 }

#planner-reverse {
    border: 1px solid #999999;
    background: #eeeeee;
    padding: 3px;
    border-radius: 4px;
    height: auto;
    cursor: pointer;
}

.up-down-icon {
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

#planner-from {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    width: 240px;
    border: 1px solid #999999;
    background: #eeeeee;
    font-size: 1em;
}

#planner-to {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    width: 240px;
    border: 1px solid #999999;
    background: #eeeeee;
    font-size: 1em;

}

.start-time {
    margin-top: 20px;
}

label {
    font-weight: bold;
    width: 85px;
    font-size: 1.2em;
}


#planner-date {
    margin-top: 5px;
    margin-left: 20px;
    padding: 3px;
    border-radius: 4px;
    width: 150px;
    border: 1px solid #999999;
    background: #eeeeee;
    font-size: 1.1em;
    font-family: "Source Sans Pro";
}

#planner-time {
    margin-left: 15px;
    padding: 3px;
    border-radius: 4px;
    width: 78px;
    border: 1px solid #999999;
    background: #eeeeee;
    font-size: 1.1em;
    font-family: "Source Sans Pro";
}

#start-planning {
    margin-left: 20px;
    vertical-align: middle;
    width: 260px;
    height: 35px;
    margin-top: 15px;
    border-radius: 4px;
    border: 2px solid #999999;
    background: #eeeeee;
    font-size: 1em;
    font-weight: bold;
    font-family: "Source Sans Pro";
    cursor: pointer;
}

.results {
    position: relative;
    left: 0;
    top: 15px;
    right: 0;
    bottom: 0;
    padding-left: 15px;
}

.results-content {
    padding-right: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    height: 565px;
}

.itinerary {
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid #555555;
    border-radius: 4px;
    cursor: pointer;
}

.right {
    float: right;
}

.p-itinerary {
    margin: 4.5px;
    size: 15px;
    text-align: left;
    font-weight: 700;
    color: #693070;
}

.span-itinerary {
    padding: 9px;
}

.route-list {
    width: auto;
    margin: 4.5px;
    padding: 0 ;
    display: inline-block;
}

.route {
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    float: left;
}

.arrow {
    background-image: url(img/arrow.png);
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    float: left;
}

.route-label-box-circle {
    border-radius: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    float: left;
    line-height: 20px;
}

.route-label-box {
    border-radius: 4px;
    height: 20px;
    width: 36px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    float: left;
}

li {
    display: inline-block;
}

.itinerary-content {
    margin-top: 20px;
    padding: 9px;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    background-color: #fff;
    border: 1px solid #555555;
    border-radius: 4px;
    display: table;
}

.place {
    display: table-row;
    position: relative;
    color: #333333;
    height: 29px;
}

.time-date {
    display: table-cell;
    font-size: 15px;
    font-weight: 700;
    line-height: 11px;
    padding-right: 2px;
    padding-top: 4px;
    text-align: right;
    vertical-align: top;
    width: 3.5em;
}

.date {
    font-size: 8px;
    font-weight: 700;
    line-height: 11px;
    right: -2px;
    position: relative;
    text-align: right;
}

.stop-container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.line-walk-place {
    background-color: #4c0e5f;
    position: absolute;
    -webkit-mask-image: url(img/walk_line.png);
    -webkit-mask-size: 24px;
    margin-top: 20px;
    width: 24px;
    top: 0;
    height: 9px;
}

.line-stop-end {
    background-size: 20px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 2px;
    margin-right: 2px;
    top: 0;
}

.label-content {
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: top;
    display: table-cell;
    position: relative;
    color: #1E1E1E;
}

.name {
    font-size: 15px;
    font-weight: 700;
    display: block;
    line-height: 18px;
}

.mode-walk {
    display: table-row;
    height: 55px;
}

.line-walk {
    background-color: #4c0e5f;
    -webkit-mask-image: url(img/walk_line.png);
    -webkit-mask-size: 24px;
    margin-top: 20px;
    width: 24px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.content {
    display: table-cell;
    vertical-align: middle;
    padding: 4.5px 2px 13.5px 2px;

}

.desc {
    display: table-row;
}

.walk-icon {
    display: table-cell;
}

.route-icon {
    display: table-cell;
    min-width: 80px;
}

.route-desc {
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    vertical-align: middle;
    padding-left: 5px;
    max-width: 100px;
    display: table-cell;
}

.walk-desc {
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    vertical-align: middle;
    padding-left: 5px;
    display: table-cell;
}

.time {
    display: table-cell;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    padding-right: 2px;
    text-align: right;
    vertical-align: top;
    width: 59px;
}

.line-stop-route {
    background-size: 20px;
    background-image: url(img/small_circle.png);
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 2px;
    margin-right: 2px;
    top: 0;
    -webkit-mask-image: url(img/big_circle.png);
    -webkit-mask-size: 20px;
}

.mode-route {
    display: table-row;
    height: 55px;
}

.line-route {
    -webkit-mask-image: url(img/route_line.png);
    -webkit-mask-size: 24px;
    margin-top: 20px;
    width: 24px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.line-route-place {
    position: absolute;
    -webkit-mask-image: url(img/route_line.png);
    -webkit-mask-size: 24px;
    margin-top: 20px;
    width: 24px;
    top: -2px;
    height: 11px;
}

.subtext {
    margin: 0;
    padding: 0;
    font-size: 9px;
    font-weight: 400;
    line-height: 9px;
}

.stops {
    color: #4c0e5f;
}